/* 
Color Palette 
Background: #222831
Background Contrast: #393e46
Foreground: #EEEEEE
Foreground Contrast: #32E0C4
*/

/* Global Variables */
:root {
    --background: #222831;
    --background-contrast: #393e46;
    --foreground: #EEEEEE;
    --foreground-contrast: #1de2c1;    
}

@font-face{
    src: url(/assets/fonts/Disolve_light.ttf);
    font-size: 30px;
    font-family: splash;
}

@font-face{
    src: url(/assets/fonts/F25_Bank_Printer.ttf);
    font-size: 25px;
    font-family: splash2;
}


/* Animations */

/* Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 
/* SqueezeIN - Width */
@keyframes squeezeIn-w {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Reveal Button Animation */


/* Animation End */
/* Global Declaration End */

* {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    scroll-behavior: smooth;
}

.root-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

a {
    color: var(--foreground);
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--foreground);
    height: 100vh;
    background-color: var(--background);
    font-family: splash2;
    font-size: 30px;
    scroll-snap-align: start;    
}

.preloader {
    display: flex;
    flex-direction: column;
    position: relative;
}

.reveal {
    position: absolute;
    bottom: 1.5em;
}

.reveal > a {
    border: 2px solid var(--foreground-contrast);
    padding: .5em;
}

.main-content {
    background-color: var(--background-contrast);
}