/* 
Color Palette 
Background: #222831
Background Contrast: #393e46
Foreground: #EEEEEE
Foreground Contrast: #32E0C4
*/

/* Global Variables */
:root {
    --background: #222831;
    --background-contrast: #393e46;
    --foreground: #EEEEEE;
    --foreground-contrast: #1de2c1;    
}

@font-face{
    src: url(/assets/fonts/Disolve_light.ttf);
    font-size: 30px;
    font-family: splash;
}

@font-face{
    src: url(/assets/fonts/F25_Bank_Printer.ttf);
    font-size: 25px;
    font-family: splash2;
}


/* Animations */

/* Fade In */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

@keyframes slideUp {
    to{
        margin-bottom: 100vh;
    }
}

/* Animation End */
/* Global Declaration End */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.root-container {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.preloader {
    height: 100%;
    font-family: 'splash2';
    font-size: 80px;
    /* letter-spacing: 10px; */
    color: var(--foreground);
    animation: fadeIn 0.5s ease-in-out;
}

.reveal {
    position: relative;
    color: var(--foreground);
    font-size: 55px;
}

.intro {
    height: 100%;
}

