/* 
Color Palette 
Background: #222831
Background Contrast: #393e46
Foreground: #EEEEEE
Foreground Contrast: #32E0C4
*/

/* Global Variables */
:root {
    --background: #222831;
    --background-contrast: #393e46;
    --foreground: #EEEEEE;
    --foreground-contrast: #32E0C4;    
}

@font-face{
    src: url(/assets/fonts/Disolve_light.ttf);
    font-size: 30px;
    font-family: splash;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.root-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.preloader { 
    font-family: 'splash';
    font-size: 120px;
    color: var(--foreground);
}