* {
    padding; 0;
    margin: 0;
    background:#0d0f1b;
}

.header {
    width: 100%;
    background-color: #fff;
}
p {
    text-decoration: none;
    color: #fff; 
    padding: 10px;

}
div h2 {
    color: #fff;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0b1b4e;
}

div btn {
    position: relative;
    height: 20px;
    width: 80px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    
}

ul li {
    padding: 10px;
    color: #fff;
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: rgb(73, 223, 198);
  }