
@font-face{
    src: url(Fonts/neon_future.ttf);
    font-size: 30px;
    font-family: homePage;
}
@font-face{
    src: url(Fonts/earthorbiter.ttf);
    font-family: headings;
}
@font-face{
    src: url(Fonts/Square.ttf);
    font-family: heading2;
}


* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

body {
    background:#0d0f1b;
}

#particle-js {
    height: fit-content;
    z-index: 0;
    background: #262626;   
}

header {
    font-family: 'headings';
    color: #fff;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-top:10px;
    padding-left: 15px;
    letter-spacing: 15px;
    white-space: nowrap;   
}
h1 {
    color: #fff;
    font-size:28px;
}

h1 span {
    display: table-cell;
    animation: textGlow 8s linear infinite;
    animation-iteration-count: infinite;
}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: .5s;
}
h1 span:nth-child(3){
    animation-delay: 1s;
}
h1 span:nth-child(4){
    animation-delay: 1.5s;
}
h1 span:nth-child(5){
    animation-delay: 2s;;
}
h1 span:nth-child(6){
    animation-delay: 2.5s;
}
h1 span:nth-child(7){
    animation-delay: 3s;
}
h1 span:nth-child(8){
    animation-delay: 3.5s;
}
h1 span:nth-child(9){
    animation-delay: 4s;
}


@keyframes textGlow {
    0%,100% {
        color: #fff;
        filter: blur(.12px);
        text-shadow: 0 0 25px #3fff04;
    }
    5%,95% {
        color: rgb(30, 255, 0);
        text-shadow: 0 0 5px #24f875;
    }
}

/* Social Network Connect */
.socialNav {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 10%;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.socialNav .fa {
    font-size: 20px;
    letter-spacing: 0px;
    color: rgb(197, 246, 231);
    /* animation: textGlow 3s infinite; */
    justify-content: center;
    border-radius: 30%;
}

/* Button Animation */
.navi {
    position: absolute;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 20%;
    margin-left: 120px;
    padding-bottom: 50px;
    
}

a {
    transform: translate(-50%, 50%);
    padding: 15px 30px;
    margin-bottom: 5%;
    color: #2196f3;
    font-family: heading2;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.2s;
    letter-spacing: 4px;

}
a::before, a::after {
    content: attr(data-text);
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a::before {
    color: #900190;
    animation: glitch-effect 3s infinite;
}
@keyframes glitch-effect {
    0% {
        left: -2px;
        top:-2px;
        color: #720bf8;
    }
    25% {
        left: 2px;
        top: 0px;
    }
    50% {
        left: -1px;
        top: 2px;
    }
    75% {
        right: 1px;
        top: -1px;
    }
    100% {
        left: 0px;
        top:-2px;
    }
}
a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,
    0 0 40px #2196f3,
    0 0 80px #2196f3;
    transition-delay: 0.2s;
 }

