@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cute+Font&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
}

.header {
    margin-top: 0.1em;
    text-align: center;
    color: #9eb6da;
    font-size: 80px;
    letter-spacing:3px;
}

.header p {
    font-family: 'Bebas Neue', cursive;
}

.header .caption {
    font-size:20px;
}
.container {
    display: flex;
    justify-content: center;
}
.logContainer {
    width: 90%;
    height: 80%;
    background-color: #ececec;
}

.log-title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'heading2';
}